body {
  background: rgba(224, 224, 224, 1);
}

.regional {
  background: linear-gradient(
    to bottom right,
    rgba(232, 245, 233, 1),
    rgba(232, 245, 233, 0)
  );
}

.legendary {
  background: linear-gradient(
    to bottom right,
    rgba(255, 243, 224, 1),
    rgba(255, 243, 224, 0)
  );
}

.mythic {
  background: linear-gradient(
    to bottom right,
    rgba(255, 204, 188, 1),
    rgba(255, 204, 188, 0)
  );
}
